<center>
  <head>
    <link rel="shortcut icon" href="/public/favicon.ico"/>
<h1> DailyChange </h1>

</head>
<br>
<center>
<h2> Hello and welcome to the DailyChange space - how are you going to make a difference?
  </h2>
  <%= form_with scope: :behaviour, url: behaviours_path, local: true do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  <% end %>
<br>
<br>

  <h2>Actions so far:</h2>
<br>
  <table>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="2"></th>
    </tr>

    <% @behaviour.each do |behaviour| %>
      <tr>
        <td><%= behaviour.title %></td>
        <td><%= behaviour.text %></td>
        <td><%= link_to 'Show', behaviour_path(behaviour) %></td>
        <td><%= link_to 'Edit', edit_behaviour_path(behaviour) %></td>
        <td><%= link_to 'Delete', behaviour_path(behaviour),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <%= link_to 'New behaviour', new_behaviour_path %>
  </table>
