<p>
  <strong>Title:</strong>
  <%= @behaviour.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @behaviour.text %>
</p>

<h2>Comments</h2>
<%= render @behaviour.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_behaviour_path(@behaviour) %> |
<%= link_to 'Back', behaviours_path %>
